@import "variables";
@import "mixins";

.bg-container {
    background-color: $light_grey_color;
}

.nav-mobile-text {
    @include header-mobile-text;
    font-size: 20px;
}

.nav-store-text {
    @include header-store-text;
    font-size: 20px;
}

@include breakpoint(tablet) {

    .nav-mobile-text,
    .nav-store-text {
        font-size: 22px !important;
    }
}

@include breakpoint(laptop) {

    .nav-mobile-text,
    .nav-store-text {
        font-size: 24px !important;
    }

}

@include breakpoint(desktop) {

    .nav-mobile-text,
    .nav-store-text {
        font-size: 26px !important;
    }
}

.nav-link-text{
    @include navlinks;
    font-size:12px;
}
@include breakpoint(tablet){
    .nav-link-text{
        
        font-size:14px;
    }
}
@include breakpoint(laptop){
    .nav-link-text{
        
        font-size:16px;
    }
}
@include breakpoint(desktop){
    .nav-link-text{
        
        font-size:20px;
    }
}
.nav-link-text:hover{
    color:#2C1FEB !important;
}

.heading {
    color: $dark_color;
    font-family: $font_roboto;
    font-weight: 700;
    font-size: 20px;
}

@include breakpoint(tablet) {
    .heading {
        font-size: 22px;
    }

}

@include breakpoint(laptop) {
    .heading {
        font-size: 24px;
    }
}

@include breakpoint(desktop) {
    .heading {
        font-size: 26px;
    }
}

.main-section {
    padding-left: 12px;
    padding-right: 12px;
}
.filter-section {
    background-color: $white_color;
}

.filter-logo {
    height: 30px;
    width: 30px;
    background-color: #EDF2F4;
    position: relative;
}

.filter-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.details-section {
    background-color: $light_grey_color;
}

.filter-data-title {
    @include filter-data-title;
    font-size: 18px;
    margin: 0px;
}

@include breakpoint(tablet) {
    .filter-data-title {
        font-size: 20px;
    }
}

@include breakpoint(laptop) {
    .filter-data-title {
        font-size: 22px;
    }
}

@include breakpoint(desktop) {
    .filter-data-title {
        font-size: 24px;
    }
}
.price-input {
    display: flex;
    width: 100%;
}

.input-min,
.input-max {
    width: 25%;
    display: inline-block;
    border: 1px solid #8D99AE;
    background: $white_color;
    color:$dark_color;
    border-radius: 4px;
}

.data {
    @include filter-data-text;
    font-size: 16px;
}

.data,
.separator,
.input-min,
.input-max {
    margin-right: 12px;
}

@include breakpoint(tablet) {
    .data {
        font-size: 18px;
    }
}

@include breakpoint(laptop) {
    .data {
        font-size: 20px;
    }
}

.filter-data-title {
    font-size: 20px;
}

.slider {
    height: 4px;
    background: $grey_color;
    border-radius: 14px;
    position: relative;
}

.slider .progress {
    height: 4px;
    border-radius: 14px;
    background: $red_color;
    position: absolute;
    left: 8%;
    right: 10%;
}

.range-input {
    position: relative;
}

.range-input input {
    position: absolute;
    top: -4px;
    height: 4px;
    width: 100%;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
    @include price-range;
    -webkit-appearance: none;
}

input[type="range"]::-moz-range-thumb {
    @include price-range;
    -moz-appearance: none;
    border: none;
}

.checkbox {
    height: 25px;
    width: 25px;
    border-radius: 2px;
    background-color: $white_color;
    border: 1px solid $dark_color;
    display: inline-block;
    margin-right: 4px;
}

.seemore-text {
    color: $red_color;
    font-size: 14px;
}

@include breakpoint(tablet) {
    .seemoe-text {
        font-size: 16px;
    }
}

@include breakpoint(tablet) {
    .filter-data-title {
        font-size: 22px;
    }
}

.details-button {
    @include click-button;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
}

// card section

.search-details {
    outline: 0;
    border-width: 0 0 2px;
    border-color: $dark_color;

}

.search-input {
    @include filter-data-text;
    font-size: 10px;
    outline: 0;
    border-width: 0 0 2px;
    border-color: grey;
    width: 100%;
    display: inline-block;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: $light-grey-color;

}

@include breakpoint(tablet) {
    .search-input {
        font-size: 14px;
    }

    .search-details {
        width: 35%;
    }
}

@include breakpoint(laptop) {
    .search-input {
        font-size: 16px;
    }

    .search-details {
        width: 60%;
    }
}

@include breakpoint(desktop) {
    .search-input {
        font-size: 18px;
    }

    .search-details {
        width: 34%;
    }
}

.search-icon {
    display: inline-block;
    margin-left: -20px;
}

.grid-container {
    display: grid;
    grid-template-columns: 100%;
    gap: 5px;
}

@include breakpoint(smallmobile) {
    .grid-container {
        grid-template-columns: 48% 48%;
        grid-gap: 10px;
    }
}

@include breakpoint(tablet) {
    .grid-container {
        grid-template-columns: 32% 32% 32%;
       grid-gap: 10px;
    }
}

@include breakpoint(laptop) {
    .grid-container {
        grid-template-columns: 32% 32% 32%;
        grid-gap: 12px;
    }
}

@include breakpoint(desktop) {
    .grid-container {
        grid-template-columns: 24% 24% 24% 24%;
        grid-gap: 18px;
    }
}

.card-details {
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    //position:relative;
    //max-width:220px;
}
.mobile-name {
    @include mobile-title;
    font-size: 14px;
    padding-left: 8px;
}

@include breakpoint(tablet) {
    .mobile-name {
        font-size: 16px;
    }
    .card-details{
        max-width:250px;
      }
}

@include breakpoint(laptop) {
    .mobile-name {
        font-size: 18px;
    }
}

@include breakpoint(desktop) {
    .mobile-name {
        font-size: 20px;
    }
}
.para-price, .para-camera, .para-storage{
    line-height:1px;
}

.mobile-details {
    @include filter-data-text;
    padding-left: 8px;
    font-size: 10px;
}

@include breakpoint(tablet) {
    .mobile-details {
        font-size: 12px;
    }
}

@include breakpoint(laptop) {
    .mobile-details {
        font-size: 14px;
    }
}

@include breakpoint(desktop) {
    .mobile-details {
        font-size: 14px;
    }
}
.details-button {
    @include click-button;
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top:auto;
    display:inline-block;
}

@include breakpoint(tablet) {
    .details-button {
        font-size: 14px;
        padding-top: 12px;
        padding-bottom: 12px;
    }
}

@include breakpoint(laptop) {
    .details-button {
        font-size: 16px;
        padding-top: 14px;
        padding-bottom: 14px;
    }
}

@include breakpoint(desktop) {
    .details-button {
        font-size: 18px;
        padding-top: 16px;
        padding-bottom: 16px;
    }
}

.label-text{
    font-family:$font_roboto;
}